.vantaContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background-color: #000000;
}

.vantaContainer :global(canvas) {
  width: 100% !important;
  height: 100% !important;
  filter: blur(1px);
}